@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Etna Challenge</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    
        <div style="max-width: 500px" class="container">
          <div class="d-grid gap-2 mt-3">
                <a class="btn btn-primary" type="button" asp-controller="Products" asp-action="Index">Products</a>
                <a class="btn btn-primary" type="button" asp-controller="Products" asp-action="NewOrder">Order</a>
            </div>
        </div>
        
</div>
