@model IEnumerable<CarritoOnline3.Models.Entities.Product>

@{
    ViewData["Title"] = "Pedidos";
    decimal price = 0;
}

<h1>Pedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) $
                @{
                    price += item.Price;
                }
            </td>
        </tr>
}
        <tr>
            <td><b>Precio total:</b></td>
            <td>@price $</td>
        </tr>
    </tbody>
</table>